@model EmployeeCRUD.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Employee Details</h1>

<div class="card">
    <div class="card-body">
        <h4>Employee Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Position)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Salary)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
</div>
