@model IEnumerable<EmployeeCRUD.Models.Employee>

<link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

@{
    ViewData["Title"] = "Employee Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Details</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mt-2 mb-1">Create New</a>
</p>

<table id="employeeTable" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr class="table-active">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Position)</td>
                    <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                    <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-primary me-2" aria-label="Edit @item.FirstName @item.LastName">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-info me-2" aria-label="Details for @item.FirstName @item.LastName">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-danger" aria-label="Delete @item.FirstName @item.LastName">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">No employees available at this moment!</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/2.1.7/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable({
            responsive: true 
        }); 
    });
</script>
